<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-accent-primary">
        <div class="card-header">
         <div class="card-avatar"><img class="card-avatar"  [src]="urlImage" alt=""></div> 
        </div>
        <div class="card-body">
                  <div class="card">
                    
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="name">Nom et Prenoms</label>
                            <input type="text" class="form-control" [value]="profile.name" disabled>
                          </div>
                        </div>
                      </div><!--/.row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" class="form-control" [value]="profile.email" disabled>
                          </div>
                        </div>
                      </div><!--/.row-->
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="name">Fonction</label>
                            <input type="text" class="form-control" [value]="profile.fonction" disabled>
                          </div>
                        </div>
                      </div><!--/.row-->
                </div><!--/.col-->
        </div>
      </div>
    </div><!--/.col-->
    </div>
    </div>